:root {
  --primari-text-color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #404bbf;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style-type: none;
}

.buttons:hover,
.buttons:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.buttons {
  color: var(--white, #fff);
  background: var(--iris, #4d5ae5);
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.raleway-text:hover,
.raleway-text:focus {
  color: #404bbf;
}
.menu-item {
  padding: 24px 0 24px;
}
.menu-adress {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  display: block;
}
.menu {
  display: flex;
  gap: 40px;
}
.page-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 471px;
  justify-content: space-between;
}

.container {
  max-width: 1158px;
  padding-left: 0 15px;
  padding-right: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.logotype {
  display: flex;
  margin-right: 76px;
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  align-items: center;
  text-transform: uppercase;
}
.raleway-text {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link {
  color: var(--navyblue, #2e2f42);

  /* Body Medium */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
address {
  font-style: normal;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
.adress {
  color: var(--slate, #434455);

  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress {
  color: var(--slate, #434455);

  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.hero {
  background: var(--navyblue, #2e2f42);
  flex-shrink: 0;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-tittle {
  color: var(--white, #ffffff);
  text-align: center;

  /* Header 1 */
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}
.ucraine {
  background: #fff;
}
.main-tittle-item {
  color: var(--navyblue, #2e2f42);

  /* Header 3 */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.tittle {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 3 */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  color: var(--slate, #434455);
  text-align: center;

  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-page {
  background-color: var(--cloud, #f4f4fd);
}

.our-team-tittle {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-list-item {
  background-color: #ffffff;
}

.portfolio-team-tittle {
  background: #f4f4fd;
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.raleway-name:hover,
.raleway-namer:focus {
  color: var(--iris, #404bbf);
}
.logotype-footer {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer {
  background: var(--navyblue, #2e2f42);
  padding: 100px 0;
}
.footer-text {
  color: var(--cloud, #f4f4fd);

  /* Body */
  font-family: "Roboto", sans-serif;
  max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.raleway-name {
  color: var(--navyblue, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
