body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #404bbf;
}
.list {
  list-style-type: none;
}
.buttons:hover,
.buttons:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.buttons {
  color: var(--white, #fff);
  background: var(--iris, #4d5ae5);
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.raleway-text:hover,
.raleway-text:focus {
  color: #404bbf;
}
.logotype {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.raleway-text {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link {
  color: var(--navyblue, #2e2f42);

  /* Body Medium */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
address {
  font-style: normal;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
.adress {
  color: var(--slate, #434455);

  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress {
  color: var(--slate, #434455);

  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.hero {
  background: var(--navyblue, #2e2f42);
}

.main-tittle {
  color: var(--white, #ffffff);
  text-align: center;

  /* Header 1 */
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.ucraine {
  background: #fff;
}
.main-tittle-item {
  color: var(--navyblue, #2e2f42);

  /* Header 3 */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.tittle {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 3 */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  color: var(--slate, #434455);
  text-align: center;

  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-page {
  background-color: var(--cloud, #f4f4fd);
}

.our-team-tittle {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-list-item {
  background-color: #ffffff;
}

.portfolio-team-tittle {
  background: #f4f4fd;
}
.raleway-name:hover,
.raleway-namer:focus {
  color: var(--iris, #404bbf);
}
.logotype-footer {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer {
  background: var(--navyblue, #2e2f42);
}
.footer-text {
  color: var(--cloud, #f4f4fd);

  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.raleway-name {
  color: var(--navyblue, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
